.dashboard-container {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  overflow-y: hidden;
  /* background-color: lightgoldenrodyellow; */
}

.dashboard-sideNav {
  width: 300px;
  height: 100%;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.sideNavLink {
  width: 80%;
  display: flex;
  color: lightgray;
  align-items: center;
  font-size: 16px;
  gap: 5px;
  padding: 5px 30px;
  /* border: 1px dashed; */
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sideNavLink-icon {
  font-size: 30px;
}

.sideNavLink.active {
  background-color: royalblue;
  color: white;
  transform: scale(1.05);
}
.dashboard-bodyContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
