.app {
  /* max-width: 1280px; */
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.routing-Links {
  display: flex;
  gap: 15px;
}

@media (max-width: 768px) {
  .routing-Links {
    flex-direction: column;
    text-align: center;
  }
}
